@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (:is(.dark *));

@theme inline {
    --font-sans: var(--font-outfit);
    --font-mono: var(--font-fira-code);
}

@theme {
    --color-body: #fafafa;
    --color-on-body: #18181b;
    --color-border: #e4e4e7;
    --color-muted: #f4f4f5;
    --color-on-muted: #71717b;
    --color-primary: #18181b;
    --color-on-primary: #fafafa;
}

@utility container {
    margin-inline: auto;
    max-width: 768px;
}

@layer base {
    * {
        border-color: var(--color-border);
    }

    .dark {
        --color-body: #18181b;
        --color-on-body: #fafafa;
        --color-border: #3f3f46;
        --color-muted: #27272a;
        --color-on-muted: #a1a1aa;
        --color-primary: #fafafa;
        --color-on-primary: #18181b;
    }
}
